# 시리즈 만들기

In [3]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

s = pd.Series(['Park', 'Programmer'], index=['Person', 'Who'])
print(s)

0    banana
1        42
dtype: object
Person          Park
Who       Programmer
dtype: object

# 데이터프레임 만들기

In [4]:
Food = pd.DataFrame({
    'Name' : ['meat', 'coke'],
    'Price' : ['$10', '$5']
})
print(Food)

Food = pd.DataFrame(
    
    data= {'Name' : ['meat', 'coke'],
    'Price' : ['10', '5']},
    index = ['park', 'jin'],
    columns = ['Price', 'Name']
    
)
print(Food)

from collections import OrderedDict # 순서가 보장되는 딕셔너리

Person = pd.DataFrame(OrderedDict([
    ('name', ['Park', 'Jin']),
    ('birthday', ['september', 'march'])
]))

print(Person)

   Name Price
0  meat   $10
1  coke    $5
     Price  Name
park    10  meat
jin      5  coke
   name   birthday
0  Park  september
1   Jin      march

# 데이터프레임에서 시리즈 선택하기

In [5]:
first_row = Food.loc['park']
print(first_row)

Price      10
Name     meat
Name: park, dtype: object

# index, values, keys 사용하기

In [6]:
print(first_row.index) # .index[0] 으로 응용

print(first_row.values)

print(first_row.keys()) # index와 같은 속성이지만 메서드

Index(['Price', 'Name'], dtype='object')
['10' 'meat']
Index(['Price', 'Name'], dtype='object')

# 시리즈의 mean, min, max, std 메서드 사용하기

In [7]:
prices = Food['Price']
print(prices)

print(prices.mean())

print(prices.min())

print(prices.max())

park    10
jin      5
Name: Price, dtype: object
52.5
10
5

# 시리즈와 불린 추출 사용하기

In [8]:
scientists = pd.read_csv('../data/scientists.csv')

print(scientists)

ages = scientists['Age']

print(ages.mean())

print(ages[ages > ages.mean()])

manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician
59.125
1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [9]:
print(100 + pd.Series([1, 100]))

rev_ages = ages.sort_index(ascending=False) # index 역순
print(rev_ages)

0    101
1    200
dtype: int64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [10]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

print(scientists.loc[[True, True, False, True, True, True, False, True]])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician
                Name        Born        Died  Age     Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37        Chemist
1     William Gosset  1876-06-13  1937-10-16   61   Statistician
3        Marie Curie  1867-11-07  1934-07-04   66        Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56      Biologist
5          John Snow  1813-03-15  1858-06-16   45      Physician
7       Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

# 데이터프레임과 브로드캐스팅

In [11]:
print(2 * scientists) # 숫자는 2배, 문자열은 2번

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [12]:
print(scientists['Born'].dtype)

born_datetime = pd.to_datetime(scientists['Born'], format ='%Y-%m-%d')
print(born_datetime)

scientists['born_dt'] = born_datetime
print(scientists.head())

object
0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
                   Name        Born        Died  Age    Occupation    born_dt
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

# 시리즈, 데이터프레임의 데이터 섞어보기

In [15]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    61
1    41
2    66
3    56
4    37
5    45
6    77
7    90
Name: Age, dtype: int64

C:\ProgramData\Anaconda3\lib\random.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

# 데이터프레임의 열 삭제하기

In [18]:
print(scientists.drop(['Age'], axis=1))

                   Name        Born        Died          Occupation    born_dt
0     Rosaline Franklin  1920-07-25  1958-04-16             Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16        Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13               Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04             Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14           Biologist 1907-05-27
5             John Snow  1813-03-15  1858-06-16           Physician 1813-03-15
6           Alan Turing  1912-06-23  1954-06-07  Computer Scientist 1912-06-23
7          Johann Gauss  1777-04-30  1855-02-23       Mathematician 1777-04-30

# 피클 형식으로 저장하기

In [24]:
names = scientists['Name'] 
names.to_pickle('../output/scientists_names_series.pickle') # 피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법

scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

# CSV 불러오기

In [26]:
# csv : 데이터를 쉼표로 구분하여 저장한 파일
# tsv : 데이터를 탭으로 구분하여 저장한 파일

names.to_csv('../output/scientist_names_series.csv')
scientists.to_csv('../output/scientists_df.tsv', sep='\t')